/* style.css */
body{
  background: white;
  color: black;
  font-size: 17px;
  font-family: segoe ui;
  margin: 0px;
}

h1{
  font-family: segoe ui;
  color: red;
  font-weight: lighter;
  font-size: 50px;
}
h2 {
  font-family: impact;
  color: black;
  font-size: 20px;
}

a {
  color: black;
  font-size: 15px;
  font-family: segoe ui;
  border: none;
}

a:hover {
  text-decoration: none;
  color: #FFBB00;

}

#banner{
  text-align: center;
  background-image: url("images/fond.jpeg");
  background-size: cover;
  background-position: top;
  padding: 250px;
  color: white;
  text-shadow: 1px 1px 5px black;

}

#banner h1 {
  color: #FFE4C4;
  font-size: 42px;
  font-weight: bolder;
  font-family: segoe ui;
}

#banner p {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  font-family: segoe ui;

}

#footer{
  padding: 20px;
  color: lightgrey;
  background-color:black;
  text-align:center;
  font-size: 10px
}

#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: #2A628F;
}

.card{
  text-align:center;
  padding: 15px;
  font-weight: lighter;
  margin: 18px;
  background-color: white;
  border-radius: 5px;

}

.cta{

  background-color: #DBFFEE;
  padding: 20px;
  margin: 0px;
  text-align: center;
}


.row{
  padding:40px;
  background-color: white;
}

.btn-red{
    font-size: 12px;
    color: white;
    background-color: #FFBB00;
    padding:7px;
    border-radius: 4px;

}
